[class*="content-"] {
  margin: 15px 25px;
  display: block;
}

.title {
  cursor: pointer;
}

.type {
  color: #f25151;
}

.value {
  color: #2a91ba;
}

li {
  color: #f25151;
}

pre {
  font-size: 15px;
}
